*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background: rgb(176, 219, 236);
    margin: 0px;
    font-family: 'Tiro Telugu', serif;
}

h1 {
    margin: 10px 0 10px 0;
    color:  rgb(0, 0, 57);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2 {
    color:  rgb(0, 0, 57);
    font-family: Arial, Helvetica, sans-serif;
}

h6{
  color: rgb(0, 0, 57);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(4, 35, 212);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.navbar ul li {
    float: left;
    border-right: 1px solid #bbb;
  }

li:last-child {
    border-right: none;
  }
  
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

.active {
    background-color: none;
  }

.header-home{
    margin-top: 46px;

}

.foto-principal {
    width: 50%;
    height: auto;
    position: relative;
}

.foto-principal1{
    width: 50%;
    height: auto;
    position: relative;
}
.destaques-home{
    margin-top: 30px 0 30px 0;
    color: white;
    justify-content: space-around;
    height: 300px;
    align-items: stretch;
    background-color: #2f55fa3c;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: flex;
    padding: 40px 60px 40px 60px;
    text-align: center;
    column-gap: 30px;
    column-rule-color: #6b85f8 ;
}

.foto-destaque1{
  width: 40%;
}

.foto-destaque2{
  width: 32%;
}

.foto-destaque3{
  width: 30%;
}

.turma{
  margin: 0 15px 0 15px;
}

.fontes{
  display: flex;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  color: gray;
}

.fontes:hover {
  border: 1px solid #777;
}

.fontes img {
  width: 100%;
  height: auto;
}


.fontes-links{
  text-decoration: none;
  width: 100px;
  height: auto;
}

.fontes.icons{
  width: 60px;
  height: 40px;
}

.footer{
  background-color: rgb(4, 35, 212);
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 12px;
}

.navbar-parques ul {
  list-style-type: none;
  margin-top: 46px;
  padding: 0;
  overflow: hidden;
  background-color:rgb(181, 190, 247);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 12px;
}

.navbar-parques ul li {
  float: left;
}

li:last-child {
  border-right: none;
}

.navbar-parques a {
  display: block;
  color: blue;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  padding: 0 30px 0 30px;
  margin-top: 100px;
  text-align: center;
  width: 70%;
}
.content-parques{
  margin-top: 85px;
  width:70%;
  padding: 30px;
  text-align: justify;
}

.foto1parques{
 width:100%;
 border-radius:15px;
}

.content-aboutme{
  border: white;
  border-radius: 50px;
  margin-top: 250px;
  margin-bottom: 250px;
  width:30%;
  padding: 30px;
  text-align: center;
  background-color: #7b92f93c;
}
.foto-aboutme{
  box-shadow: 10px 10px 5px lightblue;
  border-radius:50px;
  width: 50%;
}
.container-parques{
  display: flex;
}